@use '../../../styles/' as *;

.date-range-picker {
  @include flex(column, center, center);
  margin: $sp-4 0;
  &-title {
    margin-bottom: $sp-4;
    @include text-xl;
    font-weight: 900;
  }
  &-input {
    @include flex(row, left, left);
    &-reset {
      @include text-2xl;
      margin-left: $sp-1;
      color: var(--col-grey-100);
      cursor: pointer;
      transition: color $time-fs $trans-1;
      &:hover {
        color: var(--col-secondary-400);
      }
    }
  }
}
