@use '../../../styles/' as *;

.add-job-container {
  height: 100vh;
  @include flex(column, center, center);

  .add-job {
    position: relative;
    width: 30rem;
    background-color: var(--col-grey-700);
    padding: $sp-6;
    border-radius: 8px;
    @include shadow-sm;

    &-username {
      position: absolute;
      top: $sp-6;
      right: $sp-6;
      @include text-xl;
      color: var(--col-primary-200);
    }

    &-heading {
      margin-bottom: $sp-4;
      @include text-xl;
      font-weight: 900;
      text-transform: uppercase;
    }
    &-form {
      @include form(primary);
      div {
        width: 100%;
      }
    }
  }
}
