@use '../../styles/' as *;

.dashboard {
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  background-color: $color-3;
  position: relative;
}

.dashboard-grid {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'user'
    'add-shift'
    'analytics'
    'shift1'
    'shift2';
  margin-bottom: 10rem;
}

@include md-screen {
  .dashboard {
    margin-left: 5rem;
    width: calc(100vw - 5rem);
    @include flex(column, center, center);
  }
  .dashboard-grid {
    grid-auto-columns: 1fr;
    gap: 1rem;
    display: grid;
    grid-template-areas:
      'user add-shift add-shift analytics'
      'user shift1 shift2 analytics';
    margin-bottom: 0;
  }
}
