@use '../../styles/' as *;

.dashboard {
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  background-color: var(--col-grey-700);
  position: relative;
  margin-bottom: 5rem;
}

@include lg-screen {
  .dashboard {
    margin-bottom: 0;
    margin-left: 5rem;
    width: calc(100vw - 5rem);
  }
}
