@use '../../styles/' as *;

.dashboard {
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  background-color: $color-3;
  position: relative;

  .dashboard-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;
  }
  .dashboard-shift-grid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $sp-1;
  }
}

@include md-screen {
  .dashboard {
    margin-left: 5rem;
    width: calc(100vw - 5rem);
  }
  .dashboard-grid {
    gap: 1rem;
    display: grid;
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
