//theme----
$black: #111111;
$grey: #36393f;
$grey-dark: #23272a;
$grey-light: #929292;
$white: #ffffff;
$red: #e03f4f;
$purple: #7547a3;
$pink: #ff78b9;
$blue: #18acff;
$green: #29cc7a;
$teal: #3fe0d0;
$yellow: #ffe75c;
$orange: #e86435;

$primary: $teal;
$secondary: $orange;
$accent: $purple;

$colors: (
  col-grey: (
    '100': hsl(206, 9%, 75%),
    '200': hsl(206, 9%, 65%),
    '300': hsl(206, 9%, 55%),
    '400': hsl(206, 9%, 45%),
    '500': hsl(206, 9%, 35%),
    '600': hsl(206, 9%, 25%),
    '700': hsl(206, 9%, 15%),
    '800': hsl(206, 9%, 5%),
  ),
  col-red: (
    '100': hsl(354, 72%, 76%),
    '200': hsl(354, 72%, 66%),
    '300': hsl(354, 72%, 56%),
    '400': hsl(354, 72%, 46%),
    '500': hsl(354, 72%, 36%),
    '600': hsl(354, 72%, 26%),
    '700': hsl(354, 72%, 16%),
  ),
  col-pink: (
    '100': hsl(331, 100%, 74%),
    '200': hsl(331, 100%, 64%),
    '300': hsl(331, 100%, 54%),
    '400': hsl(331, 100%, 44%),
    '500': hsl(331, 100%, 34%),
    '600': hsl(331, 100%, 24%),
    '700': hsl(331, 100%, 14%),
  ),
  col-accent: (
    '100': hsl(270, 39%, 76%),
    '200': hsl(270, 39%, 66%),
    '300': hsl(270, 39%, 56%),
    '400': hsl(270, 39%, 46%),
    '500': hsl(270, 39%, 36%),
    '600': hsl(270, 39%, 26%),
    '700': hsl(270, 39%, 16%),
  ),
  col-blue: (
    '100': hsl(202, 100%, 75%),
    '200': hsl(202, 100%, 65%),
    '300': hsl(202, 100%, 55%),
    '400': hsl(202, 100%, 45%),
    '500': hsl(202, 100%, 35%),
    '600': hsl(202, 100%, 25%),
    '700': hsl(202, 100%, 15%),
  ),
  col-green: (
    '100': hsl(150, 67%, 78%),
    '200': hsl(150, 67%, 68%),
    '300': hsl(150, 67%, 58%),
    '400': hsl(150, 67%, 48%),
    '500': hsl(150, 67%, 38%),
    '600': hsl(150, 67%, 28%),
    '700': hsl(150, 67%, 18%),
  ),
  col-primary: (
    '100': hsl(174, 72%, 76%),
    '200': hsl(174, 72%, 66%),
    '300': hsl(174, 72%, 56%),
    '400': hsl(174, 72%, 46%),
    '500': hsl(174, 72%, 36%),
    '600': hsl(174, 72%, 26%),
    '700': hsl(174, 72%, 16%),
  ),
  col-yellow: (
    '100': hsl(51, 100%, 78%),
    '200': hsl(51, 100%, 68%),
    '300': hsl(51, 100%, 58%),
    '400': hsl(51, 100%, 48%),
    '500': hsl(51, 100%, 38%),
    '600': hsl(51, 100%, 28%),
    '700': hsl(51, 100%, 18%),
  ),
  col-secondary: (
    '100': hsl(16, 80%, 76%),
    '200': hsl(16, 80%, 66%),
    '300': hsl(16, 80%, 56%),
    '400': hsl(16, 80%, 46%),
    '500': hsl(16, 80%, 36%),
    '600': hsl(16, 80%, 26%),
    '700': hsl(16, 80%, 16%),
  ),
);

$primary-gradient: linear-gradient(
  45deg,
  hsl(174deg 72% 56%) 0%,
  hsl(77deg 77% 69%) 25%,
  hsl(172deg 100% 44%) 50%,
  hsl(223deg 100% 74%) 75%,
  hsl(331deg 100% 74%) 100%
);
