@use '../../../styles/' as *;

.dashboard-shift-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $sp-1;
}

.dashboard-shift-no-shifts {
  @include flex(column, center, center);
  width: 100%;
  h1 {
    @include text-7xl;
    text-transform: uppercase;
  }
}

@include xs-screen {
  .dashboard-shift-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include md-screen {
  .dashboard-shift-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include lg-screen {
  .dashboard-shift-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
