@use '../../../styles/' as *;

.home-body {
  padding: $sp-4;
  &-header {
    h1 {
      @include text-5xl;
      font-weight: 900;
      text-align: center;
      margin: $sp-2 0rem;
    }
  }
}

@include lg-screen {
  .home-body {
    @include flex(column, center, center);
  }
}
