@use '../../../styles/' as *;

.dashboard-nav {
  width: 100vw;
  min-height: 5rem;
  position: fixed;
  background-color: var(--col-grey-700);
  left: 0;
  bottom: 0;
  border-top: 0.5px solid var(--col-grey-600);
  z-index: 99;

  .icons {
    @include flex(row, center, center);
    ul {
      @include flex(row, center, space-between);
      padding: $sp-1;
      li {
        @include flex(column, center, center);
        svg {
          font-size: $sp-6;
          color: var(--col-secondary-100);
          transition: color $time-fs $trans-1;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
          &:hover + p {
            opacity: 1;
          }
        }
        p {
          color: $white;
          opacity: 0;
          transition: opacity $time-md $trans-1;
          display: none;
        }
      }
    }
  }
}

@include lg-screen {
  .dashboard-nav {
    width: 5rem;
    min-height: 100vh;
    top: 0;
    border-top: none;
    border-right: 0.5px solid var(--col-grey-600);
    transition: width $time-fs $trans-1;
    &:hover {
      width: 10rem;
      @include shadow-sm;
    }
    .icons {
      @include flex(column, center, center);
      margin-top: $sp-2;
      ul {
        @include flex(column, center, left);
        padding: 0;
        li {
          p {
            text-align: center;
            @include text-xs;
          }
          svg {
            font-size: $sp-4;
          }
        }
      }
    }
  }
}
