@use '../../styles/' as *;

.add-shift-container {
  grid-area: add-shift;
  background-color: $grey-dark;
  padding: $sp-4;
  border-radius: 8px;
  .add-shift-heading {
    h2 {
      @include text-xl;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  .add-shift-form {
    @include flex(column, left, center);
    min-width: 1rem;
    margin: 0rem auto;
    label {
      margin-bottom: $sp-1;
      text-align: left;
      text-transform: uppercase;
      @include text-xs;
    }

    @include input;
    @include button(primary);
  }
}
