@use '../../styles/' as *;

.login {
  @include background;
  height: 100vh;
  width: 100vw;
  @include flex(column, center, center);
  &-form-container {
    @include shadow-sm;
    height: auto;
    width: min(90%, 28rem);
    background-color: var(--col-grey-700);
    border-radius: 8px;
    @include flex(column, center, center);
    padding: $sp-6;
  }
  &-heading {
    width: 100%;
    margin-bottom: $sp-4;
    @include flex(column, center, center);
    .login-logo {
      color: var(--col-grey-600);
      margin-bottom: $sp-2;
      @include logo-font;
      @include text-7xl;
      margin-bottom: $sp-4;
      cursor: pointer;
      transition: color $time-sl $trans-1;
      &:hover {
        color: var(--col-primary-300);
      }
    }
    h4 {
      color: $white;
      text-align: center;
      font-weight: 600;
      @include text-base;
      margin-bottom: $sp-1;
    }
  }
  &-form {
    width: 100%;
    height: 100%;

    form {
      @include form(primary);
      input:nth-child(4) {
        margin-bottom: 0;
      }
      span {
        text-align: left;
        width: 100%;
        text-transform: uppercase;
        @include text-xs;
        color: var(--col-primary-300);
        margin-top: $sp-2;
        margin-bottom: $sp-4;
      }

      &-error {
        color: $color-leader;
      }
      &-input-error {
        border: 1px solid $color-leader;
        color: $color-leader;
        background-color: #e03f4f1e;
      }
    }
    p {
      @include text-sm;
      color: var(--col-grey-400);
      span {
        cursor: pointer;
        color: var(--col-accent-200);
        &:hover {
          color: var(--col-secondary-300);
        }
      }
    }
  }
}

.shake-vertical {
  -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
