@use '../../../../styles/' as *;

.user-card-tip-grid {
  height: 13rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  grid-template-areas:
    'all all'
    'week month';
  gap: $sp-2;

  .user-card-analytics {
    @include flex(column, center, center);
    padding: $sp-1;
    border-radius: 4px;
    border: 0.25px solid #ffffff20;
    p {
      @include text-xs;
      width: 100%;
      font-weight: 900;
      text-align: center;
      opacity: 0.4;
      color: $white;
    }
    h1 {
      @include text-3xl;
      text-align: center;
      color: var(--col-grey-100);
    }
  }
}

@include xs-screen {
  .user-card-tip-grid {
    height: 16rem;
    grid-template-areas:
      'all all'
      'week month';
  }
}
