@use '../../../../styles/index' as *;

.month-analytics-container {
  background-color: var(--col-grey-800);
  border-radius: 8px;
  @include flex(column, center, center);
  h1 {
    @include text-xl;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  h2 {
    @include text-sm;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: $sp-2;
  }
}
@include xs-screen {
  .month-analytics-container {
    padding: $sp-2;
    h2 {
      @include text-xl;
    }
  }
}
