//theme----
$black: #111111;
$color-0: #4752c4;
$color-1: #5865f2;
$color-2: #ffffff;
$color-3: #36393f;
$color-4: #23272a;
$color-5: #313339;
$color-6: #c9cacc;
$color-leader: #e03f4f;
$color-mod: #7547a3;
$color-helper: #ff78b9;
$color-member: #18acff;
$color-officer: #29cc7a;
$color-raider: #3fe0d0;
$color-guild-member: #ffe75c;

$white: #ffffff;
$base: #4752c4;
$primary: #5865f2;
$grey: #36393f;
$grey-dark: #23272a;
$grey-light: #c9cacc;
$red: #e03f4f;
$purple: #7547a3;
$pink: #ff78b9;
$blue: #18acff;
$green: #29cc7a;
$teal: #3fe0d0;
$yellow: #ffe75c;

$colors: (
  primary: (
    '100': hsl(235, 86%, 75%),
    '200': hsl(235, 86%, 65%),
    '300': hsl(235, 86%, 55%),
    '400': hsl(235, 86%, 45%),
    '500': hsl(235, 86%, 35%),
    '600': hsl(235, 86%, 25%),
    '700': hsl(235, 86%, 15%),
  ),
  grey: (
    '100': hsl(220, 8%, 73%),
    '200': hsl(220, 8%, 63%),
    '300': hsl(220, 8%, 53%),
    '400': hsl(220, 8%, 43%),
    '500': hsl(220, 8%, 33%),
    '600': hsl(220, 8%, 23%),
    '700': hsl(220, 8%, 13%),
  ),
  red: (
    '100': hsl(354, 72%, 76%),
    '200': hsl(354, 72%, 66%),
    '300': hsl(354, 72%, 56%),
    '400': hsl(354, 72%, 46%),
    '500': hsl(354, 72%, 36%),
    '600': hsl(354, 72%, 26%),
    '700': hsl(354, 72%, 16%),
  ),
  pink: (
    '100': hsl(331, 100%, 74%),
    '200': hsl(331, 100%, 64%),
    '300': hsl(331, 100%, 54%),
    '400': hsl(331, 100%, 44%),
    '500': hsl(331, 100%, 34%),
    '600': hsl(331, 100%, 24%),
    '700': hsl(331, 100%, 14%),
  ),
  purple: (
    '100': hsl(270, 39%, 76%),
    '200': hsl(270, 39%, 66%),
    '300': hsl(270, 39%, 56%),
    '400': hsl(270, 39%, 46%),
    '500': hsl(270, 39%, 36%),
    '600': hsl(270, 39%, 26%),
    '700': hsl(270, 39%, 16%),
  ),
  blue: (
    '100': hsl(202, 100%, 75%),
    '200': hsl(202, 100%, 65%),
    '300': hsl(202, 100%, 55%),
    '400': hsl(202, 100%, 45%),
    '500': hsl(202, 100%, 35%),
    '600': hsl(202, 100%, 25%),
    '700': hsl(202, 100%, 15%),
  ),
  green: (
    '100': hsl(150, 67%, 78%),
    '200': hsl(150, 67%, 68%),
    '300': hsl(150, 67%, 58%),
    '400': hsl(150, 67%, 48%),
    '500': hsl(150, 67%, 38%),
    '600': hsl(150, 67%, 28%),
    '700': hsl(150, 67%, 18%),
  ),
  teal: (
    '100': hsl(174, 72%, 76%),
    '200': hsl(174, 72%, 66%),
    '300': hsl(174, 72%, 56%),
    '400': hsl(174, 72%, 46%),
    '500': hsl(174, 72%, 36%),
    '600': hsl(174, 72%, 26%),
    '700': hsl(174, 72%, 16%),
  ),
  yellow: (
    '100': hsl(51, 100%, 78%),
    '200': hsl(51, 100%, 68%),
    '300': hsl(51, 100%, 58%),
    '400': hsl(51, 100%, 48%),
    '500': hsl(51, 100%, 38%),
    '600': hsl(51, 100%, 28%),
    '700': hsl(51, 100%, 18%),
  ),
);

$primary-gradient: linear-gradient(
  35deg,
  hsl(202deg 100% 55%) 0%,
  hsl(202deg 91% 39%) 51%,
  hsl(202deg 100% 25%) 100%
);
