//theme----
$color-0: #4752c4;
$color-1: #5865f2;
$color-2: #ffffff;
$color-3: #36393f;
$color-4: #23272a;
$color-5: #313339;
$color-6: #c9cacc;
$color-leader: #e03f4f;
$color-mod: #7547a3;
$color-helper: #a86cc1;
$color-member: #18acff;
$color-officer: #98fb98;
$color-raider: #3fe0d0;
$color-guild-member: #26abff;
