@use '../../../../styles/' as *;

.user-card-analytics {
  @include flex(column, left, left);
  padding: $sp-2;
  border-radius: 8px;
  p {
    @include text-sm;
    width: 100%;
    font-weight: 900;
    margin-bottom: $sp-2;
    text-align: center;
    opacity: 0.4;
  }
  h1 {
    @include text-8xl;
    text-align: center;
  }
}
