@use '../../../styles/' as *;

.hero {
  @include flex(row, center, space-between);
  @include background;
  width: 100%;
  padding: $sp-4;
}

@include lg-screen {
  .hero {
    padding: 0 $sp-6;
  }
}

@include xxl-screen {
  .hero {
    padding: $sp-2 15rem;
  }
}
