@use '../../../styles/' as *;

.home-nav {
  width: 100%;
  background-color: $black;
  color: $white;
  .nav-inner-container {
    height: 4rem;
    padding: $sp-6;
    @include flex(row, center, space-between);
    .nav-logo {
      @include logo-font;
      @include text-2xl;
      color: $teal;
      font-weight: 900;
    }
    .nav-links {
      ul {
        @include flex(row, center, center);
        li {
          margin-left: $sp-1;
          @include text-sm;
          cursor: pointer;
          transition: color $time-fs $trans-1;
          &:hover {
            color: $teal;
          }
        }
      }
    }
  }
}

@include md-screen {
}

@include lg-screen {
  .home-nav {
    .nav-inner-container {
      padding: $sp-6;
    }
  }
}

@include xxl-screen {
  .home-nav {
    .nav-inner-container {
      padding: $sp-4 16rem;
    }
  }
}
