@use '../../../styles/' as *;

.add-shift {
  grid-area: add-shift;
  background-color: var(--col-grey-800);
  padding: $sp-4;
  border-radius: 8px;
  &-heading {
    h2 {
      @include text-xl;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: $sp-4;
    }
  }
  &-form {
    @include form(primary);
    input {
      background-color: var(--col-grey-700);
    }
    div {
      width: 100%;
    }
  }
}
