@use '../../styles/' as *;

.shift-card-deleted {
  width: 100%;
  min-height: 10rem;
  border-radius: 8px;
  padding: $sp-4;
  background-color: $grey-dark;
  border: 2px solid $black;
  @include shadow-sm;
  position: relative;
  transform: translateY(-100px);
  transition: background-color $time-fs $trans-1, border $time-fs $trans-1,
    opacity $time-fs $trans-1, transform $time-fs $trans-1;
  opacity: 0;
}

.shift-card-container {
  width: 100%;
  min-height: 10rem;
  border-radius: 8px;
  padding: $sp-4;
  background-color: $grey-dark;
  border: 2px solid $black;
  @include shadow-sm;
  position: relative;
  transition: background-color $time-fs $trans-1, border $time-fs $trans-1,
    opacity $time-fs $trans-1;
  &:hover {
    background-color: $black;
    border: 2px solid $teal;
  }
  .shift-card-time {
    @include flex(row, center, left);
    text-transform: uppercase;
    @include text-xs;
    margin-bottom: $sp-1;
    span {
    }
    svg {
      margin-right: $sp-1;
    }
  }
  .shift-card-company-name {
    @include text-xl;
  }
  .shift-card-job-title {
    font-weight: 900;
    color: $orange;
    @include text-xs;
  }
  .shift-card-earned {
    @include flex(row, center, center);
    position: absolute;
    bottom: $sp-4;
    right: $sp-4;
    span {
      color: $teal;
      margin-left: 2px;
      font-weight: 900;
    }
    svg {
      font-size: $sp-4;
    }
  }
  .shift-card-hours {
    position: absolute;
    bottom: $sp-4;
    left: $sp-4;
  }
  .shift-card-mods {
    position: absolute;
    top: $sp-4;
    right: $sp-4;
    font-size: $sp-4;
    color: $color-6;
    opacity: 0.5;
    .shift-card-delete {
      transition: all $time-fs $trans-1;
      &:hover {
        color: $color-leader;
        cursor: pointer;
        opacity: 1;
      }
    }
    .shift-card-edit {
      transition: all $time-fs $trans-1;
      margin-left: $sp-1;
      &:hover {
        color: $color-1;
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}
