@use '../../styles/' as *;

.user-card-container {
  grid-area: user;
  width: 100%;
  min-height: 20rem;
  border-radius: 8px;
  padding: $sp-4;
  position: relative;
  border: 1px solid $blue;
  background-color: $grey-dark;
  .user-card-user-since {
    @include text-xs;
    text-transform: uppercase;
    color: $color-2;
    margin-bottom: $sp-1;
  }
  .user-card-user-avatar {
    position: absolute;
    top: $sp-4;
    right: $sp-4;
    font-size: $sp-4;
    color: $color-guild-member;
  }
  .user-card-work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    margin-bottom: $sp-1;
  }
  .user-card-analytics {
    @include flex(column, left, left);
    p {
      @include text-xl;
      font-weight: 900;
    }
  }
  .user-card-settings-icon {
    @include flex(row, center, center);
    position: absolute;
    bottom: $sp-4;
    left: $sp-4;
    font-size: $sp-4;
    color: $grey;
    cursor: pointer;
    transition: color $time-fs $trans-1;
    &:hover {
      color: $grey;
    }
  }
  h2 {
    @include text-2xl;
    margin-bottom: $sp-1;
    font-weight: 900;
    color: $color-2;
  }
  p {
    color: $color-2;
  }
}

@include md-screen {
}
