@use '../../styles/' as *;

.user-card-container {
  width: 100%;
  min-height: 19rem;
  border-radius: 8px;
  padding: $sp-4;
  border: 1px solid #11111130;
  background-color: $color-1;
  position: relative;
  border: 1px solid #ffffff60;
  .user-card-user-since {
    @include text-xs;
    text-transform: uppercase;
    color: $color-2;
    margin-bottom: $sp-1;
  }
  .user-card-user-avatar {
    position: absolute;
    top: $sp-4;
    right: $sp-4;
    font-size: $sp-4;
    color: $color-guild-member;
  }
  .user-card-settings-icon {
    @include flex(row, center, center);
    position: absolute;
    bottom: $sp-4;
    left: $sp-4;
    font-size: $sp-4;
    color: $color-2;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity $time-fs $trans-1;
    &:hover {
      opacity: 1;
      color: $color-member;
    }
  }
  h2 {
    @include text-2xl;
    margin-bottom: $sp-1;
    font-weight: 900;
    color: $color-2;
  }
  p {
    color: $color-2;
  }
}
