@use '../../../../styles/' as *;

.shift-card {
  width: 100%;
  min-height: 10rem;
  border-radius: 4px;
  padding: $sp-4;
  background-color: var(--col-grey-800);
  border: 2px solid var(--col-grey-600);
  //@include shadow-sm;
  position: relative;
  transition: background-color $time-fs $trans-1, border $time-fs $trans-1,
    opacity $time-fs $trans-1, transform $time-fs $trans-1;
  &:hover {
    background-color: var(--col-grey-700);
  }
  &-time {
    @include flex(row, center, left);
    text-transform: uppercase;
    @include text-xs;
    margin-bottom: $sp-1;
    svg {
      margin-right: $sp-1;
    }
  }
  &-company-name {
    @include text-2xl;
    font-weight: 900;
  }
  &-job-title {
    color: var(--col-grey-100);
    @include text-xs;
  }
  &-earned {
    @include flex(row, center, center);
    position: absolute;
    bottom: $sp-4;
    right: $sp-4;
    color: var(--col-green-200);
    font-weight: 900;
    @include text-base;
  }
  &-hours {
    position: absolute;
    bottom: $sp-4;
    left: $sp-4;
    @include text-xs;
    text-transform: uppercase;
    span {
      @include text-xl;
    }
  }
  &-mods {
    position: absolute;
    top: $sp-4;
    right: $sp-4;
    font-size: $sp-4;
    color: var(--col-grey-100);
    opacity: 0.5;
    .shift-card-delete {
      transition: all $time-fs $trans-1;
      &:hover {
        color: var(--col-red-300);
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}
