@use '../../../styles/' as *;

.user-card-container {
  grid-area: user;
  min-height: 16rem;
  border-radius: $sp-min;
  padding: $sp-4;
  position: relative;
  height: 100%;
  //border: 1px solid $blue;
  //background-color: $grey-dark;

  .user-card-user-since {
    @include text-xs;
    text-transform: uppercase;
    color: $grey-light;
    margin-bottom: $sp-4;
    opacity: 0.2;
  }
  .user-card-user-avatar {
    position: absolute;
    top: $sp-4;
    right: $sp-4;
    font-size: $sp-4;
    color: $primary;
  }
  .user-card-work-grid {
    margin-bottom: $sp-6;
    @include text-sm;
    p {
      color: $grey-light;
    }
  }

  .user-card-settings-icon {
    @include flex(row, center, center);
    position: absolute;
    bottom: $sp-4;
    left: $sp-4;
    font-size: $sp-4;
    color: $grey-light;
    cursor: pointer;
    transition: color $time-fs $trans-1;
    &:hover {
      color: $primary;
    }
  }
  h4 {
    @include text-xl;
    margin-bottom: $sp-1;
    font-weight: 900;
    color: $color-2;
  }
  p {
    color: $color-2;
  }
}

@include md-screen {
}
