@use '../../../styles/' as *;

.user-card {
  grid-area: user;
  min-height: 30rem;
  border-radius: $sp-min;
  padding: $sp-4;
  position: relative;
  height: 100%;
  .user-card-user-since {
    @include text-xs;
    text-transform: uppercase;
    color: var(--col-grey-300);
    margin-bottom: $sp-4;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    right: $sp-4;
  }
  &-user-avatar {
    position: absolute;
    top: $sp-4;
    right: $sp-4;
    font-size: $sp-4;
    color: var(--col-accent-200);
  }
  .user-card-work-grid {
    margin-bottom: $sp-4;
    @include text-sm;
    p {
      color: $grey-light;
    }
  }

  &-settings-icon {
    @include flex(row, center, center);
    position: absolute;
    bottom: $sp-4;
    left: $sp-4;
    font-size: $sp-4;
    color: var(--col-grey-300);
    cursor: pointer;
    transition: color $time-fs $trans-1;
    &:hover {
      color: var(--col-secondary-200);
    }
  }
  h4 {
    @include text-xl;
    margin-bottom: $sp-1;
    font-weight: 900;
    color: $white;
  }
  p {
    color: $grey;
  }
}

@include md-screen {
}
